.layout-page {
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
    .breadcrumb {
      margin-left: 20px;
    }
    .left,.right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
    }
  }
  &-content {
    display: flex;
    height: 100%;
    padding: 20px 20px 10px;
    overflow: auto;
  }
  &-footer {
    padding: 10px 0;
    text-align: center;
  }
  .sider-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;

    .logo {
      display: block;
      width: 32px;
      vertical-align: top;
      transition: all 0.3s;
    }

    .title {
      display: block;
      width: 112px;
      overflow: hidden;
      font-size: 20px;
      font-weight: 600;
      white-space: nowrap;
      transition: all 0.3s;
    }

  }

  .nav-content {
    height: calc(100% - 64px);
  }
}

